FriendsQ/server/.env
FriendsQ/server/node_modules/
FriendsQ/front/node_modules/
FriendsQ/front/jsconfig.json
FriendsQ/front/README.md
FriendsQ/front/public/favicon.ico
FriendsQ/front/src/assets/logo.png
.vscode/settings.json